/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* Utilities */
.wrapper{
    max-width: 1777px ;
    margin: 0 auto;
}
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}


/* Padding */
.p {
    padding: 0.5rem;
    }
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}
.py {
    padding: 0.5rem 0;
}
.py-1 {
    padding: 1rem 0;
}
.py-2 {
    padding: 2rem 0;
}
.py-3 {
    padding: 3rem 0;
}

/* Margin */
.m {
    margin: 0.5rem;
}
.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 2rem;
}
.m-3 {
    margin: 3rem;
}
.my {
    margin: 0.5rem 0;
}
.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 2rem 0;
}
.my-3 {
    margin: 3rem 0;
}

.btn {
    display: inline-block;
    background: #2091f9;
    padding: 16px 62px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    border-radius: 100rem;
}

.badge {
    font-size: 0.8rem;
    padding: 0.1rem;
    text-align: center;
    margin: 0.3rem;
    background: var(--light-color);
    color: #333;
}

.alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
}
.btn:hover {
    opacity: 0.8;
}
.boxed{
    max-width: 555px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Header */
.header{
    width: 100%;
    height: 930px;
    background-image: url('../image/Rectangle9.jpg') ;
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 115px;
}
.navbar{
    height: 156px;
    display: flex;
    justify-content: space-around;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar img{
    width: 156px;
}
.navbar a{
    display: block;
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    padding: 0 20px;
}
.social {
    align-items: center;
    display: flex;
}
.social a{
    display: block;
    padding: 14px;
}
.social i{
    color: #fff;
    font-size: 30px;
}
.header-content{
    color: #fff;
    text-align: center;
}
.text-content {
    max-width: 786px;
    margin: auto;
}
.header-content h1{
    /* width: 672px; */
    font-size: 74px;
    line-height: 84px;
    letter-spacing: 0.2px;
    font-weight: 700;
}
.header-content p{
    /* width: 766px; */
    font-size: 28px;
    line-height: 40px;
    text-align: center;
}
/* Feature */
.feature{}
.boxed h2{
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: #252b42;
    margin-bottom: 27px;
}
.boxed h4{
    font-size: 28px;
    line-height: 40px;
    color: #374754;
}
.feature-img{
    width: 45px;
    padding: 8px;
    margin-bottom: 27px;
}
.feature-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0 64px;
    margin-top: 90px;
    margin-bottom: 132px;
}
.feature-item{
    max-width: 255px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* background-color:red ; */
}
.feature-heading{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252b42;
    margin-bottom: 20px;
}
.feature-desc{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #374754;
}
.feature-content{
    width: 100%;
    position: relative;
}
.play-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.play-button i{
   font-size: 60px;
   color: #fff;
   padding: 71px 79px;
   border-radius: 50%;
   background-color: #2091f9;
}

